body {
    font-family: 'brownregular','proxima-nova',sans-serif;
     background: white;
    font-size: 12px;
    font-stretch: condensed;
    margin: 0;
    
}

a{
    color: black;
    text-decoration: none;
    padding: 0 0 2px 0;
    font-family: 'brownregular','proxima-nova',sans-serif;
}
a:hover {
     text-decoration: underline;
}
a:visited{}

.wrapper {
    width: 101%;
    margin: 0 auto;
    overflow: auto;
    background: 243 243 243;
    
}

.lubing{background-image: url("lubing1.jpg");
           height: 650px;
           width: 101%;
           background-size:cover;


}
.menu{
    text-align: center;
}
.menu ul {
     display:inline-block;
    margin-top: 0px;
}
.menu li {
    
    color: black;
    font-size:14px;
    list-style-type: none;
    padding: 20px;
    float: left;
}
.menu li + li {
    margin-left:20px;
}


.photo-box{
    height: 300px;
    width: 300px;
    margin-top: 40px;
    margin-left: 40px;
    float: left;
  display:inline-block;
}


.photo1 {
    background: transparent url("https://images.unsplash.com/photo-1460378150801-e2c95cb65a50?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=1b5934b990c027763ff67c4115b6f32c") no-repeat center;
    background-size:cover;
}

.photo2 {
    background: transparent url("https://images.unsplash.com/photo-1458400411386-5ae465c4e57e?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=47756f965e991bf72aa756b410929b04") no-repeat center;
    background-size:cover;
   
}
.photo3 {
    background: transparent url("https://images.unsplash.com/photo-1463123081488-789f998ac9c4?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=6d1a6d1c5a7eb63d0c411b1d019f0b30") no-repeat center;
   background-size:cover;
   
}
.photo4 {
    background: transparent url("https://images.unsplash.com/photo-1462733441571-9312d0b53818?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=deb060f2ba359f2691166b4278ecdc5b") no-repeat center;
     background-size:cover;
}

.photo5 {
    background: transparent url("https://images.unsplash.com/photo-1462331940025-496dfbfc7564?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=c2447a69043e39f174216c5440f0fb2d") no-repeat center;
    background-size:cover;
    
   
}
.photo6 {
    background: transparent url("https://images.unsplash.com/photo-1461360370896-922624d12aa1?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=38b4c37a4aedb70e2817b4f38b9a1984") no-repeat center;
  background-size:cover;
}