body {
    font-family: sans-serif;
     background: transparent url("https://images.unsplash.com/photo-1452827073306-6e6e661baf57?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=c28fd5ea58ed2262a83557fea10a6e87") no-repeat center;
    font-size: 12px;
    font-stretch: condensed
    
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
    overflow: auto;
    color: black;
    
}

.menu {
    width: 200px;
    float: left;
    margin-top: 150px;
}

.menu>ul {
    padding: 0;
}

.menu>ul>li {
    list-style-type: none;
}

.menu>ul>li>a {
    display: block;
    border: 1px solid black;
    padding: 30px;
    margin: 30px;
    text-align: center;
    color: black;
    font-size:20px;
}


.content {
    padding: 200px;
    margin-left: 200px;
    font-size:15px;
    border: 2px solid black;
}


.tesla {
    background: transparent url("https://images.unsplash.com/photo-1460378150801-e2c95cb65a50?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=1b5934b990c027763ff67c4115b6f32c") no-repeat center;
    height: 500px;
    background-size: contain;
}

.photo {
    background: transparent url("https://images.unsplash.com/photo-1458400411386-5ae465c4e57e?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=47756f965e991bf72aa756b410929b04") no-repeat center;
    height: 500px;
    background-size: contain;
}
